<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
	<testsuites>
		<testsuite name="Invoices">
			<directory>tests/Invoices_REST/</directory>
		</testsuite>
<!-- 		<testsuite name="Config"> -->
<!-- 			<directory>tests/Config_Template/</directory> -->
<!-- 			<directory>tests/Config_REST/</directory> -->
<!-- 		</testsuite> -->
<!-- 		<testsuite name="Tenant"> -->
<!-- 			<directory>tests/SuperTenant/</directory> -->
<!-- 			<directory>tests/SuperTenant_REST/</directory> -->
<!-- 		</testsuite> -->
	</testsuites>

	<!-- Code coverage -->
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml" />
	</logging>
</phpunit>